<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <spinner register="false" show="!isLoaded">
        <div class="center progress-ring progress-large">
            <div class="progress-circle"></div>
            <div class="progress-circle"></div>
            <div class="progress-circle"></div>
            <div class="progress-circle"></div>
            <div class="progress-circle"></div>
        </div>
    </spinner>
    <ol class="list-items" ng-init="initialize()" ng-show="isLoaded">
        <li class="list-items-row" ng-repeat="(org, group) in groupedJobs">
            <div data-toggle="collapse" aria-expanded="false" data-target="#org{{$index}}">
                <div class="row">
                    <div class="col-md-2">
                        <i class="icon-add"></i>
                        <i class="icon-remove"></i>
                    </div>
                    <div class="col-md-6">
                        {{org}}
                    </div>
                </div>
            </div>
            <div class="collapse" id="org{{$index}}">
                <ol class="list-items">
                    <li class="list-items-row" ng-repeat="job in group">
                        <div class="row">
                            <div class="col-md-2">{{job.ID}}</div>
                            <div class="col-md-4">{{job.PositionType.Name}}</div>
                            <div class="col-md-8">{{job.Description}}</div>
                        </div>

                    </li>
                </ol>
            </div>
        </li>
    </ol>
    <!--<div class="table-responsive" ng-init="initialize()" ng-show="isLoaded">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Organization</th>
                    <th>Role</th>
                    <th>Description</th>
                    <th class="text-right">ID</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="job in jobs">
                    <td>{{job.Organization.Name}}</td>
                    <td>{{job.PositionType.Name}}</td>
                    <td>{{job.Description}}</td>
                    <td class="text-right">{{job.ID}}</td>
                </tr>
            </tbody>
        </table>
    </div>-->
</body>
</html>