<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <spinner name="jobListSpinner">
        <div class="center progress-ring progress-large">
            <div class="progress-circle"></div>
            <div class="progress-circle"></div>
            <div class="progress-circle"></div>
            <div class="progress-circle"></div>
            <div class="progress-circle"></div>
        </div>
    </spinner>
    <div class="table-responsive" ng-init="initialize()" ng-show="isLoaded">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Organization</th>
                    <th>Role</th>
                    <th>Description</th>
                    <th class="text-right">ID</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="job in jobs">
                    <td>{{job.Organization.Name}}</td>
                    <td>{{job.PositionType.Name}}</td>
                    <td>{{job.Description}}</td>
                    <td class="text-right">{{job.ID}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>