<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div>
        <div class="row row-sm section-gallery">
            <div class="col-md-6">
                <figure class="media">
                    <div class="media-img ratio-2-1 color-blue">
                        <a href="/#/jobs/create" class="tile-text">
                            <i class="tile-icon icon-add"></i>
                            <div>
                                <span>Create a job</span>
                            </div>
                        </a>
                    </div>
                    <figcaption class="media-caption">
                        <h4 class="media-header">
                            <a href="/#/jobs/create">Create a job</a>
                        </h4>
                    </figcaption>
                </figure>
                <!--<div class="tile tile-wide color-blue">
                    <a href="/#/jobs/create">
                        <i class="tile-icon icon-add"></i>
                        <div>
                            <span>Create a job</span>
                        </div>
                    </a>
                </div>-->
            </div>
            <div class="col-md-6">
                <figure class="media">
                    <div class="media-img ratio-2-1 color-red">
                        <a href="/#/jobs/list?filter=manager">
                            <i class="tile-icon icon-list"></i>
                            <div>
                                <span>View my jobs</span>
                            </div>
                        </a>
                    </div>
                    <figcaption class="media-caption">
                        <h4 class="media-header">
                            <a href="/#/jobs/list?filter=manager">View my jobs</a>
                        </h4>
                    </figcaption>
                </figure>

                <!--<div class="tile tile-wide color-red">
                    <a href="/#/jobs/list?filter=manager">
                        <i class="tile-icon icon-list"></i>
                        <div>
                            <span>View my jobs</span>
                        </div>
                    </a>
                </div>-->
            </div>
        </div>
    </div>
</body>
</html>